<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>BLOG</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/send_url.js"></script>
  </head>
  <body>
    <div class="top">
      <div class="wrapper">
        <div class="content">
          <h2>みんなの飲食店巡りブログ</h2>
          <h1>Hideaway restaurant</h1>
          <p>みんなの知ってもらいたい隠れ飲食店を投稿するブログ。<br>自分も行ってみたいをお届けします。</p>
          <a class="btn" href="/list">読みはじめる</a>
        </div>
        <img class="image" src="/images/top.jpg" alt="">
      </div>
    </div>
  </body>
</html>